asgiref==3.11.1
asttokens==3.0.1
colorama==0.4.6
crispy-bootstrap5==2025.6
Django== 4.2.7
django-crispy-forms==2.5
executing==2.2.1
icecream==2.1.10
pillow==12.1.1
Pygments==2.19.2
sqlparse==0.5.5
tzdata==2025.3
